/**/
.list-div {
  text-align: center;
}

@media (max-width: 1200px) {
  .list-div {
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .list-div {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .list-div {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .list-div {
    font-size: 0.75rem;
  }
}
@media (max-width: 390px) {
  .list-div {
    font-size: 0.695rem;
  }
}

html {
  font-family: sans-serif;
}

.List {
  border: 1px solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #f8f8f0;
}
